ul {
    padding-left: 20px;
    display: inline-block;
}

li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    display: inline-block;
    color:red;
    border-bottom: 1px dotted red;
    display:block;
}

li:before {
    content: "\2192";
    color: red;
    margin-right: 5px;
    font-size: 20px;
}

li:hover::before {
    color: green;
}

li:hover{
    color: green;
    border-bottom: 1px dotted green;
}