<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre a empresa</title>

    <style>
      p {
        font-size: 1.2em;
        color: #333;
      }
    </style>
  </head>
  <body>
    <h1>
      Seja bem vindo a página de sobre, apresentaremos a você mais da empresa
    </h1>

    <p>
      Em 2000, um grupo de amigos com uma paixão comum por tecnologia fundou a
      tecnologis intelligence AI. Desde então, a empresa cresceu e se tornou
      líder em inteligência artificial. Atendemos a uma ampla gama de clientes,
      desde pequenas empresas até grandes corporações, e estamos comprometidos
      em fornecer soluções inovadoras e confiáveis ​​que atendam às suas
      necessidades.
    </p>

    <h2>Qual a missão de nossa empresa?</h2>
    <p>
      Fornecer produtos e serviços de alta qualidade que excedam as expectativas
      dos clientes. Construir relacionamentos duradouros com clientes e
      parceiros. Criar um ambiente de trabalho positivo e gratificante para
      nossos funcionários.
    </p>

    <h2>Qual a nossa visão?</h2>
    <p>
      Ser a empresa líder em inteligência artificial no Brasil. Fazer a
      diferença no mundo através de nossas tecnologias e serviços. Inspirar
      outras empresas a serem inovadoras e responsáveis.
    </p>

    <h2>Quais valores a nossa empresa presa?</h2>
    <p>
      Inovação: Buscamos constantemente novas e melhores maneiras de fazer as
      coisas. Integridade: Agimos com honestidade e ética em todas as nossas
      interações. Trabalho em equipe: Valorizamos a colaboração e o trabalho em
      equipe para alcançar objetivos comuns. Atendimento ao cliente: Colocamos
      nossos clientes em primeiro lugar e nos esforçamos para fornecer um
      serviço excepcional. Responsabilidade social: Estamos comprometidos em
      causar um impacto positivo na comunidade.
    </p>
  </body>
</html>
